.advantages {
  padding-top: 18px;

  @media (min-width: $tablet) {
    padding-top: 40px;
  }

  @media (min-width: $desktop) {
    padding-top: 112px;
  }
}

.advantages .advantages__container {
  @media (min-width: $desktop) {
    position: relative;
    box-sizing: border-box;
    overflow: hidden;
    padding: 0;
    min-height: 523px;
  }
}

.advantages__list {
  @include list-reset;

  position: relative;

  display: grid;
  grid-template-columns: 1fr;
  gap: 14px;

  @media (min-width: $tablet) {
    grid-template-columns: 1fr 1fr;
    gap: 29px 30px;
  }

  @media (min-width: $desktop) {
    gap: 0;
    margin-bottom: 29px;
  }
}

.advantages__list .advantages__item {
  @media (min-width: $desktop) {
    width: 380px;
  }
}

.advantages__title {
  margin-bottom: 22px;
  text-align: center;

  &::before {
    left: 50%;
    transform: translateX(-50%);
  }

  @media (min-width: $tablet) {
    margin-bottom: 50px;
  }

  @media (min-width: $desktop) {
    margin-bottom: 39px;
  }
}

.advantages__navigation {
  display: none;

  @media (min-width: $desktop) {
    position: relative;

    display: flex;
    justify-content: center;
    padding: 0;
  }
}

