.contacts {
  padding-top: 18px;
  padding-bottom: 14px;

  @media (min-width: $tablet) {
    padding-top: 40px;
    padding-bottom: 32px;
  }

  @media (min-width: $desktop) {
    padding-top: 100px;
    padding-bottom: 94px;
  }
}

.contacts__container {
  @media (min-width: $tablet) {
    padding-right: 43px;
  }

  @media (min-width: $desktop) {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }
}

.contacts__title {
  margin-bottom: 14px;

  @media (min-width: $tablet) {
    margin-bottom: 11px;
  }

  @media (min-width: $desktop) {
    margin-bottom: 13px;
  }
}

.contacts__content p {
  margin: 0;
  margin-bottom: 10px;

  font-size: 14px;
  line-height: 20px;
  font-weight: 400;

  @media (min-width: $tablet) {
    max-width: 480px;
    font-size: 16px;
    line-height: 24px;
  }
}

.contacts__content p:last-of-type {
  margin-bottom: 30px;

  @media (min-width: $tablet) {
    margin-bottom: 40px;
  }

  @media (min-width: $desktop) {
    margin-bottom: 49px;
  }
}

.contacts__list {
  @include list-reset;

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 30px;
  margin-bottom: 30px;

  @media (min-width: $tablet) {
    flex-direction: row;
    gap: 40px;
    margin-bottom: 40px;
  }

  @media (min-width: $desktop) {
    flex-direction: column;
    gap: 34px;
    margin-bottom: 0;
  }
}

.contacts__item {
  padding-left: 32px;

  background-repeat: no-repeat;
  background-position: top left;
  background-size: 22px 22px;

  &--tel {
    background-image: url("/__spritemap#sprite-phone-view");
  }

  &--email {
    background-image: url("/__spritemap#sprite-mail-view");
  }

  &--address {
    width: 220px;
    background-image: url("/__spritemap#sprite-address-view");

    @media (min-width: $tablet) {
      width: auto;
    }
  }

  @media (min-width: $tablet) {
    padding-left: 34px;
    background-size: 24px 24px;
  }

  @media (min-width: $desktop) {
    padding-left: 56px;
    background-position: left center;
  }
}

.contacts__name {
  margin-bottom: 8px;

  font-size: 14px;
  line-height: 14px;
  font-weight: 600;

  @media (min-width: $tablet) {
    margin-bottom: 5px;

    font-size: 16px;
    line-height: 16px;
  }

  @media (min-width: $desktop) {
    margin-bottom: 9px;

    font-size: 18px;
    line-height: 18px;
  }
}

.contacts__description {
  margin: 0;

  font-size: 14px;
  line-height: 20px;
  font-weight: 400;

  @media (min-width: $tablet) {
    font-size: 14px;
    line-height: 22px;
  }

  @media (min-width: $desktop) {
    font-size: 16px;
    line-height: 24px;
  }
}

.contacts__link {
  @include link-reset;
  @include link-effects;
}

.contacts__map {
  margin: 0 -15px;

  @media (min-width: $tablet) {
    margin: 0 -45px;
  }

  @media (min-width: $desktop) {
    margin: 0;
    padding-top: 5px;
    padding-right: 77px;
  }
}
