.gallery {
  padding-top: 18px;
  padding-bottom: 3px;

  @media (min-width: $tablet) {
    padding-top: 40px;
  }

  @media (min-width: $desktop) {
    padding-top: 100px;
    padding-bottom: 3px;
  }
}

.gallery__container {
  position: relative;
  padding: 0;
}

.gallery__title {
  padding-left: 15px;
  margin-bottom: 12px;

  &::before {
    left: 15px;
  }

  @media (min-width: $tablet) {
    padding-left: 45px;
    margin-bottom: 20px;

    &::before {
      left: 45px;
    }
  }

  @media (min-width: $desktop) {
    padding-left: 120px;
    margin-bottom: 14px;

    &::before {
      left: 121px;
    }
  }
}

.gallery p {
  @include text-small-font;

  margin: 0;
  margin-bottom: 31px;
  padding-left: 15px;
  max-width: 290px;

  @media (min-width: $tablet) {
    max-width: 465px;
    padding-left: 45px;
    margin-bottom: 21px;
  }

  @media (min-width: $desktop) {
    max-width: 720px;
    padding-left: 120px;
    margin-bottom: 45px;
  }
}

.gallery .gallery__swiper {
  box-sizing: border-box;
  overflow: hidden;
}

.gallery__list {
  @include list-reset;

  @media (min-width: $desktop) {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 5px;
  }
}

.gallery .gallery__item {
  display: flex;
  flex-direction: column;
  row-gap: 5px;

  @media (min-width: $tablet) {
    row-gap: 6px;
  }

  @media (min-width: $desktop) {
    row-gap: 7px;
  }
}

.gallery__navigation {
  position: absolute;
  top: 106px;
  right: 45px;

  @media (min-width: $desktop) {
    display: none;
  }
}

.gallery__img {
  display: block;
}
