.gallery {
  padding-top: 18px;
  padding-bottom: 3px;

  @media (min-width: $tablet) {
    padding-top: 40px;
  }

  @media (min-width: $desktop) {
    padding-top: 100px;
    padding-bottom: 3px;
  }
}

.gallery__container {
  position: relative;
  padding: 0;
}

.gallery__title {
  padding-left: 15px;
  margin-bottom: 12px;

  &::before {
    left: 15px;
  }

  @media (min-width: $tablet) {
    padding-left: 45px;
    margin-bottom: 20px;

    &::before {
      left: 45px;
    }
  }

  @media (min-width: $desktop) {
    padding-left: 120px;
    margin-bottom: 14px;

    &::before {
      left: 121px;
    }
  }
}

.gallery p {
  margin: 0;
  margin-bottom: 31px;
  padding-left: 15px;
  max-width: 290px;

  font-size: 12px;
  line-height: 18px;

  @media (min-width: $tablet) {
    max-width: 465px;
    padding-left: 45px;
    margin-bottom: 21px;

    font-size: 14px;
    line-height: 22px;
  }

  @media (min-width: $desktop) {
    max-width: 720px;
    padding-left: 120px;
    margin-bottom: 45px;

    font-size: 16px;
    line-height: 24px;
  }
}

.gallery .gallery__swiper {
  box-sizing: border-box;
  overflow: hidden;
}

.gallery__list {
  @include list-reset;

  @media (min-width: $desktop) {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 5px;
  }
}

.gallery .gallery__item {
  display: flex;
  flex-direction: column;
  row-gap: 6px;
}

.gallery__navigation {
  position: absolute;
  top: 106px;
  right: 45px;

  @media (min-width: $desktop) {
    display: none;
  }
}

.gallery__link {
  @include link-reset;

  overflow: hidden;
}

.gallery__img {
  display: block;
  width: 157px;
  height: 135px;
  object-fit: cover;

  @media (min-width: $tablet) {
    width: 253px;
    height: 211px;
  }

  @media (min-width: $desktop) {
    width: 284px;
    height: 233px;
  }

  &--large {
    height: 266px;

    @media (min-width: $tablet) {
      height: 418px;
    }

    @media (min-width: $desktop) {
      height: 463px;
    }
  }

  &--2n {
    object-position: center -7px;
    transform: scale(1.1);

    @media (min-width: $tablet) {
      object-position: center -10px;
    }
  }

  &--3n {
    height: 125px;
    transform: scale(2);
    object-position: center 26px;

    @media (min-width: $tablet) {
      height: 201px;
      transform: scale(1.3);
      object-position: center 12px;
    }

    @media (min-width: $desktop) {
      height: 223.5px;
    }
  }
}
