.instructor {
  box-sizing: border-box;

  padding: 15px 14px;
  min-height: 356px;

  background-color: $background-light-color;
  border: 1px solid rgba(2, 102, 193, 0.1);

  @media (min-width: $tablet) {
    min-height: 388px;
  }

  @media (min-width: $desktop) {
    min-height: 356px;
  }
}

.instructor__img {
  display: block;
  height: 200px;
  object-fit: cover;
}

.instructor__head {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 10px;
}

.instructor__social {
  @include social-link;

  width: 24px;
  height: 24px;
}

.instructor h3 {
  margin: 0;
  max-width: 145px;

  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
}

.instructor p {
  margin: 0;
  margin-top: -2px;

  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
}
