.nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  row-gap: 16px;
}

.nav__burger {
  @include button-reset;

  margin-top: -17px;
  width: 26px;
  height: 26px;

  background-repeat: no-repeat;
  background-position: center;
  background-image: url("/__spritemap#sprite-menu-open-view");

  transition: background-image 0.3s ease-in-out, opacity 0.3s ease-in-out, outline 0.3s ease-in-out;

  &:hover {
    opacity: 0.5;
  }

  &:focus-visible {
    outline: 1px solid currentColor;
  }

  @media (min-width: $tablet) {
    margin-top: 0;
  }

  @media (min-width: $desktop) {
    display: none;
  }
}

.nav__burger.nav__burger--active {
  background-image: url("/__spritemap#sprite-menu-close-view");
}

.nav__list {
  @include list-reset;

  display: none;

  @media (min-width: $desktop) {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    max-width: 830px;
    padding-left: 30px;
  }
}

.nav__list.nav__list--shown {
  position: absolute;
  top: 100px;
  left: 0;
  z-index: 2;

  display: flex;
  flex-direction: column;
  row-gap: 22px;
  padding: 30px 15px 50px 15px;
  width: 100vw;

  background-color: $background-dark-color;

  @media (min-width: $tablet) {
    top: 82px;

    row-gap: 26px;

    padding: 50px 45px 70px 45px;
  }
}

.nav__link {
  @include link-reset;
  @include nav-font;

  padding: 3px 5px;

  transition: box-shadow 0.3s ease-in-out, outline 0.3s ease-in-out, color 0.3s ease-in-out;

  &:hover {
    box-shadow: 0 1px 0 0 currentColor;
  }

  &:focus-visible {
    outline: 1px solid currentColor;
  }

  &:active {
    color: #1C3374;
    box-shadow: none;
  }
}

.nav__list--shown .nav__link {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 4%;

  @media (min-width: $tablet) {
    font-size: 16px;
    line-height: 16px;
  }
}

.nav__logo {
  @media (min-width: $tablet) {
    margin-left: 114px;
  }

  @media (min-width: $desktop) {
    margin-left: 32px;
  }
}

.nav__logo path d {
  color: #fff;
}

.nav__tel {
  @include link-reset;

  font-size: 14px;
  line-height: 14px;
  font-weight: 600;
  text-align: right;

  transition: color 0.3s ease-in-out, opacity 0.3s ease-in-out;

  &:active {
    color: #1C3374;
  }

  &:not([href]) {
    color: $disabled-color;
    pointer-events: none;
  }

  @media (min-width: $tablet) {
    padding-top: 3px;

    font-size: 16px;
    line-height: 16px;
  }

  @media (min-width: $desktop) {
    font-size: 18px;
    line-height: 18px;
  }

  &--header {
    width: 100%;

    &:hover {
      opacity: 0.5;
    }

    &:focus-visible {
      color: #2D383F;
      outline: none;
    }

    @media (min-width: $tablet) {
      width: auto;
    }
  }

  &--footer {
    display: none;

    &:hover {
      color: rgba(2, 102, 193, 0.1);
    }

    &:focus-visible {
      color: #0266C1;
      outline: none;
    }

    @media (min-width: $desktop) {
      display: block;
    }
  }
}
