.navigation {
  display: none;

  @media (min-width: $tablet) {
    position: absolute;
    top: 20px;
    right: 0;

    display: flex;
    gap: 4px;
  }
}

.navigation__button {
  @include button-reset;

  display: flex;
  align-items: center;
  justify-content: center;
  width: 37px;
  height: 35px;

  background-color: #0266C1;
  border: 1px solid #0266C1;

  transition: background-color 0.3s ease-in-out, border 0.3s ease-in-out;

  &:hover {
    background-color: #ffffff;
    border: 1px solid #1C3374
  }

  &:focus-visible {
    background-color: #ffffff;
    outline: none;
    border: none;
  }

  &:active {
    background-color: #1C3374;
    border: 1px solid #1C3374;
  }

  &:disabled {
    background-color: #999999;
    border: 1px solid #999999;
    pointer-events: none;
  }
}

.navigation__arrow {
  color: #ffffff;

  transition: color 0.3s ease-in-out;
}

.navigation__button:hover .navigation__arrow,
.navigation__button:focus-visible .navigation__arrow {
  color: #1C3374;
}

.navigation__button:active .navigation__arrow {
  color: #ffffff;
}
