.navigation {
  display: none;

  @media (min-width: $tablet) {
    position: absolute;
    top: 20px;
    right: 45px;

    display: flex;
    gap: 4px;
  }
}

.navigation__button {
  @include button-reset;

  display: flex;
  align-items: center;
  justify-content: center;
  width: 37px;
  height: 35px;

  background-color: $icon-secondary-color;
  border: 1px solid $icon-secondary-color;

  transition: background-color 0.3s ease-in-out, border 0.3s ease-in-out;

  &:hover {
    background-color: $icon-light-color;
    border: 1px solid $button-effects-color;
  }

  &:focus-visible {
    background-color: $icon-light-color;
    outline: none;
    border: none;
  }

  &:active {
    background-color: $button-effects-color;
    border: 1px solid $button-effects-color;
  }

  &:disabled {
    background-color: $disabled-color;
    border: 1px solid $disabled-color;
    pointer-events: none;
  }
}

.navigation__arrow {
  color: $text-light-color;

  transition: color 0.3s ease-in-out;
}

.navigation__button:hover .navigation__arrow,
.navigation__button:focus-visible .navigation__arrow {
  color: $button-effects-color;
}

.navigation__button:active .navigation__arrow,
.navigation__button:disabled .navigation__arrow {
  color: $text-light-color;
}
