.review {
  padding: 20px;

  background-color: $background-light-color;
  box-shadow: 0 0 20px 0 rgba(28, 51, 116, 0.1);

  font-size: 12px;
  line-height: 18px;
  font-weight: 400;

  @media (min-width: $tablet) {
    padding-right: 30px;
    min-width: 565px;

    box-shadow: 0 0 30px 0 rgba(28, 51, 116, 0.1);
  }

  @media (min-width: $desktop) {
    max-width: 709px;
    padding-left: 30px;

    font-size: 14px;
    line-height: 22px;

    box-shadow: 0 0 20px 0 rgba(28, 51, 116, 0.1);
  }
}

.review__picture {
  flex-shrink: 0;
}

.review__img {
  flex-shrink: 0;
  display: block;
  width: 250px;
  height: 169px;
  object-fit: cover;

  @media (min-width: $tablet) {
    width: 186px;
    height: 238px;
  }

  @media (min-width: $desktop) {
    width: 258px;
    height: 253px;
  }
}

.review__content {
  display: flex;
  flex-direction: column;
  margin: 0;

  @media (min-width: $tablet) {
    padding-top: 3px;
  }

  @media (min-width: $desktop) {
    padding-top: 0;
    margin-top: -2px;
  }
}

.review__content p {
  margin: 0;
  margin-bottom: 10px;

  @media (min-width: $desktop) {
    max-width: 352px;
  }
}

.review__content p:last-of-type {
  margin-bottom: 15px;

  @media (min-width: $tablet) {
    margin-bottom: 27px;
  }

  @media (min-width: $desktop) {
    margin-bottom: 4px;
  }
}

.review__name {
  margin-bottom: 8px;

  line-height: 12px;
  font-weight: 700;
  font-style: normal;

  @media (min-width: $tablet) {
    margin-bottom: 6px;

    font-size: 13px;
    line-height: 13px;
  }
}

.review__details {
  line-height: 12px;
  font-weight: 300;

  @media (min-width: $desktop) {
    font-size: 12px;
    line-height: 16px;
  }
}
