.reviews {
  padding-top: 18px;
  padding-bottom: 0;

  @media (min-width: $tablet) {
    padding-top: 40px;
    padding-bottom: 19px;
  }

  @media (min-width: $desktop) {
    padding-top: 122px;
    padding-bottom: 67px;
  }
}

.reviews__container {
  position: relative;

  @media (min-width: $tablet) {
    padding-right: 0;
  }
}

.reviews__title {
  margin-bottom: 0;
}

.reviews__swiper {
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
}

.reviews__list {
  @include list-reset;

  padding-top: 17px;
  padding-bottom: 20px;

  @media (min-width: $tablet) {
    padding-top: 25px;
  }

  @media (min-width: $desktop) {
    padding-top: 28px;
  }
}

.reviews__list .reviews__item {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 19px;

  @media (min-width: $tablet) {
    flex-direction: row;
    gap: 30px;
  }
}

.reviews__navigation {
  @media (min-width: $desktop) {
    top: 23px;
    right: 120px;
  }
}
