.tours {
  padding-bottom: 20px;

  @media (min-width: $tablet) {
    padding-bottom: 40px;
  }

  @media (min-width: $desktop) {
    padding-bottom: 100px;
  }
}

.tours__container {
  position: relative;
}

.tours__swiper {
  position: relative;
  box-sizing: border-box;
  overflow: hidden;

  margin-bottom: 25px;

  @media (min-width: $tablet) {
    margin-bottom: 26px;
  }

  @media (min-width: $desktop) {
    margin-bottom: 54px;
  }
}

.tours__list {
  @include list-reset;
}

.tours__navigation {
  @media (min-width: $desktop) {
    right: 120px;
  }
}

.tours__more {
  @include link-reset;
  @include link-effects;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  padding: 10px;
  margin: 0 auto;
  width: fit-content;

  font-size: 14px;
  line-height: 14px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.6px;

  &:hover {
    color: rgba(2, 102, 193, 0.1);
  }

  @media (min-width: $tablet) {
    font-size: 16px;
    line-height: 16px;
  }
}
