html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

.body {
  @include text-regular-font;

  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-width: 320px;
  margin: 0 auto;

  font-family: "Montserrat";

  &--no-scroll {
    position: relative;
    overflow: hidden;

    &::before {
      content: "";
      position: absolute;
      inset: 0;
      z-index: 2;

      background-color: rgba(45, 56, 63, 0.6);
    }
  }
}

.main {
  flex-grow: 1;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;

  border: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  padding: 0 15px;
  margin: 0 auto;
  width: 320px;

  @media (min-width: $tablet) {
    padding: 0 45px;
    width: 768px;
  }

  @media (min-width: $desktop) {
    padding: 0 120px;
    width: 1440px;
  }
}

.section__title {
  @include h3-font;

  padding-top: 16px;
  padding-bottom: 17px;
  margin-bottom: 25px;

  @media (min-width: $tablet) {
    padding-top: 20px;
    padding-bottom: 10px;
  }

  @media (min-width: $desktop) {
    padding-bottom: 10px;
  }
}
