// BREAKPOINTS
$tablet: 768px;
$desktop: 1440px;

// COLORS
$text-main-color: #2D383F;
$text-light-color: #ffffff;
$button-bg-color: #0266C1;
$button-effects-color: #1C3374;
$link-effects-color: #0266C1;
$icon-primary-color: #2D383F;
$icon-secondary-color: #0266C1;
$icon-light-color: #ffffff;
$background-light-color: #ffffff;
$background-dark-color: #0266C1;
$disabled-color: #999999;

